{% extends "front/front_base.html" %}
{% from "common/_macro.html" import static %}
{% block title %}

{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
    <div class="lg-container">
        <div id="carousel-example-generic" class="carousel slide"
             style="height: 290px;width: 840px; overflow: hidden; border-radius: 10px">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for banner in banners %}
                    {% if loop.first %}
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    {% else %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}"></li>
                    {% endif %}
                {% endfor %}

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for banner in banners %}
                    {% if loop.first %}
                        <div class="item active">
                            <a href="{{ banner.link_url }}"><img src="{{ banner.image_url }}"
                                                                 alt="{{ banner.name }}"></a>
                            <div class="carousel-caption">
                            </div>
                        </div>
                    {% else %}
                        <div class="item">
                            <a href="{{ banner.link_url }}"><img src="{{ banner.image_url }}"
                                                                 alt="{{ banner.name }}"></a>
                            <div class="carousel-caption">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="post-group">
            <ul class="post-group-head">
                {% if current_sort == 1 %}
                    <li class="active"><a href="{{ url_for('front.index', st=1, bd=current_board_id) }}">最新</a></li>
                {% else %}
                    <li><a href="{{ url_for('front.index', st=1, bd=current_board_id) }}">最新</a></li>
                {% endif %}
                {% if current_sort == 2%}
                    <li class="active"><a href="{{ url_for('front.index', st=2, bd=current_board_id) }}">精华</a></li>
                {% else %}
                    <li><a href="{{ url_for('front.index', st=2, bd=current_board_id) }}">精华</a></li>
                {% endif %}
                {% if current_sort == 3 %}
                    <li class="active"><a href="{{ url_for('front.index', st=3, bd=current_board_id) }}">点赞数排序</a></li>
                {% else %}
                    <li><a href="{{ url_for('front.index', st=3, bd=current_board_id) }}">点赞数排序</a></li>
                {% endif %}
                {% if current_sort == 4 %}
                    <li class="active"><a href="{{ url_for('front.index', st=4, bd=current_board_id) }}">评论数排序</a></li>
                {% else %}
                    <li><a href="{{ url_for('front.index', st=4, bd=current_board_id) }}">评论数排序</a></li>
                {% endif %}
            </ul>
            <ul class="post-list-group">
                {% for post in posts %}
                    <li>
                        <div class="author-avatar-group"><img
                                src="{{ post.author.avatar or url_for('static', filename="common/images/avatar.jpeg") }}"
                                alt=""></div>
                        <div class="post-info-group">
                            <p class="post-title"><a
                                    href="{{ url_for("front.post_detail",post_id=post.id) }}">{{ post.title }}</a>
                                {% if post.highlight %}
                                    <span class="label label-danger">精华贴</span>
                                {% endif %}
                            </p>
                            <p class="post-info">
                                <span>作者:{{ post.author.username }}</span>
                                <span>发布时间:{{ post.create_time | handle_time }}</span>
                                <span>评论:0  </span>
                                <span>阅读:0</span>
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div style="text-align: center">
                {{ pagination.links }}
            </div>
        </div>
    </div>
    <div class="sm-container">
        <div style="margin-bottom: 20px">
            <a href="{{ url_for("front.add_post") }}" class="btn btn-warning btn-block">发布帖子</a>
        </div>
        <div class="list-group">
            {% if current_board_id %}
                <a href="/" class="list-group-item">所有板块</a>
            {% else %}
                <a href="/" class="list-group-item active">所有板块</a>
            {% endif %}
            {% for board in boards %}
                {% if board.id == current_board_id %}
                    <a href="{{ url_for("front.index", bd=board.id) }}"
                       class="list-group-item active">{{ board.name }}</a>
                {% else %}
                    <a href="{{ url_for("front.index", bd=board.id) }}" class="list-group-item">{{ board.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}