{% extends "cms/cms_iframe_base.html" %}
{% block css %}

{% endblock %}

{% block body %}

    <h1 style="color: #1c2b36">这是Banner管理页</h1>
    <div class="topbox">
        <button class="btn btn-danger" style="float: right;margin-bottom: 15px">添加Banner页</button>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>名称</th>
            <th>图片链接</th>
            <th>跳转链接</th>
            <th>优先级</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block js %}

{% endblock %}